footer{
	margin-top: 70px;
	background: linear-gradient(to right, #53289F 10%, #602A69 40%, #772E0B 105%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100px;
	margin-top: 100px;
	opacity: 0.9;
	z-index: -100;
	margin-bottom: 0;
	bottom: 0;
}

footer h2{
	margin: 40px;
	margin-left: 200px;
	font-family: latoblack, regular; 
	font-size: 28px;
	transition: all 0.2s;
}

footer ul{
	margin-right: 13%;
}

footer h2:hover{
	text-shadow: #fff 0 0 3px;
}

@media (min-width: 100px) and (max-width: 760px){
	footer{
		width: 100%;
		flex-direction: column;
		height: 130px;
	}

	footer h2, footer ul{
		margin: 0 auto;
	}

	footer h2{
		padding-top: 20px;
	}
	
	footer ul{
		padding-bottom: 20px;
	}
	
}