*body {
  background-color: #1c1c1c;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.img-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 1000px;
  margin: 0 auto;
}

.img-list li {
  display: inline-block;
  list-style: none;
}

.img-list img {
  width: 370px;
  height: 220px;
  cursor: pointer;
  transition: all 0.2s;
}

.img-list img:hover{
    -webkit-filter: brightness(160%);
}

.lightbox {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 0;
  display: none;
  overflow-y: auto;
}

.overlay1 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}

.lightbox figure {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 50%;
  max-width: 900px;
}

.lightbox img{
   border-radius: 3px;
}

.next, .prev {
  display: inline-block;
  color:#fff;
  margin: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: font_awesome_5_freesolid;
  font-weight: 800;
  transition: all 0.3s ease;
  height: 30px;
}

.next:hover, .prev:hover{
  color: #FA7E6B;
}


.description{
  font-size: 22px;
  font-family: font_awesome_5_freeregular;  
  margin: 50px auto;
  width: 90%;
}

.description a{
  color: #FA7E6B;
  cursor: pointer;
  transition: all 0.3s ease;
}

.description a:hover{
  text-decoration: underline; 
}

  #gallery_title{
    margin-top: 0px;
  }

@media(max-width: 1000px){
    .img-list{
    display: inline-block;
    width: 100%;
  }

}

@media(max-width: 850px){


  .lightbox figure {
     width: 90%;
    top: 150px;
  }

  .gallery{
     max-width: 100%;
  }

  .img-list img {
    width: 320px;
    height: 180px;
    cursor: pointer;
    transition: all 0.2s;
  }

}

@media(max-height: 600px){
   .lightbox figure {
     top: 20px;
    overflow-y: auto;
    height: 80%;

  }
}

@media(max-width: 440px){
  #gallery_title{
    margin-top: 150px;
  }
}

@media(max-width: 370px){
  #gallery_title{
    margin-top: 300px;
  }
}

@media(max-width: 320px){
  #gallery_title{
    margin-top: 500px;
  }
}