.header_menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 200px;
	padding-right: 100px;
}

.menu_item{
	list-style-type: none;
	transition: all 0.4s ease;
}

.menu_item:hover{
	text-shadow: #fff 0 0 3px;
	color: #FA7E6B;
}

.menu_item a:focus{
	text-shadow: #fff 0 0 3px;
}

.menu_item>a{
	text-decoration: none;
	color: #fff;
	font-family: latoblack, regular;
	font-size: 20px;
	list-style-type: none;
}

.main_menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 610px;
	margin-top: 35px;
}

.socials{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 150px;
}

.socials>ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 150px;
	text-decoration: none;
}

.social_item{
	margin-top: 35px;
	list-style-type: none;
	cursor: pointer;
	font-size: 23px;
	transition: all 0.4s ease;
}

.social_item:hover{
	text-shadow: #fff 0 0 3px;
}

.social_item a:focus{
	text-shadow: #fff 0 0 3px;
}

.active_item a{
	color: #FA7E6B; 
}

.menuToggle{
	display: none;
	background: none;
	text-align: center;
}


@media (min-width: 900px) and (max-width: 1150px){
	.header_menu{
		justify-content: space-around;
		padding: 0;
	}
	.main_menu{
		margin-right: 30px;
	}
}

@media (min-width: 760px) and (max-width: 900px){
	.main_menu{
		width: 500px;
	}
}
 
@media (min-width: 100px) and (max-width: 760px){
	.header_menu ul{
		display: none;
		width: 100%;
		height: 100%;
	}
	
	.menuToggle{
		display: block;
		position: fixed;
		background-color: #000;
		font-family: latoblack, regular;
		font-size: 25px;
		width: 100%;
		left: 0px;
		cursor: pointer;
		text-align: center;
		z-index: 102;
		margin: 0 auto;
		padding: 15px 0;
		transition: all 0.4s ease;
	}
	
	h3{
		color: linear-gradient(to left, #FA7E6B 80%,  #AA3A67);
	}
	.menuToggle:hover{
		text-shadow: #fff 0 0 3px;
	}
	
	.main_menu{
        position: fixed;
        z-index: 101;
        background: rgba(0, 0, 0, 1);
        width: 100%;
		left: 0;
		top: 0;
		margin-top: -100px;
		padding-top: 200px;
		padding-bottom: 100%;
		text-align: center;
	}
	
	.main_menu li{
		margin-top: 40px;
		float: none;
	}

	.main_menu a{
		font-size: 25px;
	}
}