.history{
	height: 800px;
	background-image: url(../img/Image2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	margin-top: 200px;
}	

.history>h2{
	margin: 0;
	padding-top: 100px;
	margin-left: 50%; 
	font-size: 40px;
	text-align: start;
	font-weight: 800;

}

.history>p{
	margin-top: 4%;
	margin-left: 50%; 
	font-family: font_awesome_5_freeregular;
	font-size: 25px;
	text-align: start;
	font-weight: 600;
}

.event_description{ 
	margin-left: 50%; 
	margin-top: 3%;
	font-family: font_awesome_5_freeregular;
	align-self: space-between;
}

.event_description li{
	list-style-type: disc;
	padding: 20px 0;
	font-size: 20px; 
	margin-left: 20px;
	transition: all 0.3s ease;	
	font-weight: 600;
}

@media  (max-width: 1200px){
	.history>h2{
		padding-top: 30px;
	}

	.history>p{
		margin-top: 15px;
		color: #999999;
	}
	
	.event_description{
		margin-top: 20px;
	}

	.event_description li{
		padding: 10px;
	}
}

@media all and (max-width: 1020px){
	.history{
		background-image: none;
		width: 100%;
	}

	.history h2{
		background: linear-gradient(to right, #53289F 10%, #602A69 40%, #772E0B 105%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}

	.history>h2, .history>p, .event_description{
		text-align: center;
		margin:0;
		padding: 20px 30px;
	}

	.event_description li{
		list-style-type: none;
		padding: 20px;
	}
}