 .history{
	height: 700px;
	max-height: 900px;
	background-image: url(../img/Image2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: grid;
	grid-template-rows: 20% 15% 75%;
	grid-template-columns: repeat(2, 50%);
	padding-right: 60px;
	margin-top: 200px;	
}

.history>h2{
	grid-column-start: 2; 
	margin: 0;
	padding-top: 100px;
	padding-left: 30px; 
	justify-self: start;
	align-self: stretch;
	font-size: 37px;
}

.history>p{
	margin: 0;
	grid-column-start: 2; 
	padding-left: 30px; 
	padding-top: 40px;
	justify-self: start;
	align-self: stretch;
	text-align: start;
	font-family: font_awesome_5_freeregular;
	font-size: 20px;
}

.event_description{ 
	grid-column-start: 2;
	font-family: font_awesome_5_freeregular;
	align-self: space-between;
}

.event_description>p{
	margin: 0;
	justify-self: start;
	align-self: start;
	text-align: start;
	padding: 30px 0px;
	padding-left: 80px;
	font-size: 17px;
	position: relative;
}

.event_description>p:before{
	content:"#";
	display: block;
	margin-right: 30px;
	position: absolute; 
	left: 30px;
	color: #fff;
	font-size: 40px;
	font-family: latoblack;
	transition:  all 0.2s ease;
}

.event_description>p:hover:before{
	color: #F97E6B;
	cursor: pointer;
}

