.overlay {
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}

.modal{
   visibility: hidden;
   height: 500px;
   width: 800px;  
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; 
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 5px;
   background: #222222;
   transition: 0.3s all;
   font-family: font_awesome_5_freeregular;
   
}

.modal.active, .overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal__cross{
   position: absolute;
   font-weight: 600;
   top: 40px;
   right: 30px;
   color: #fff;
   font-size: 40px;
   cursor: pointer;
   transition: all 0.2s;
}

.modal__cross:hover{
   background: linear-gradient(to right, #53289F 10%, #602A69 40%, #772E0B 105%);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    color: #FA7E6B;
}

.js-open-modal {
	display: block;
	max-width: 100%;
   margin: 15px 0;
   text-decoration: none;
   color: #fff;
   font-size: 30px;
   font-weight: 800;
   font-family: font_awesome_5_freeregular, regular;
   text-align: center;
   cursor: pointer;
   transition: all 0.2s;  
}

.js-open-modal:hover{
	color: #FA7E6B;
}

.modal h3{
	font-weight: 800;
	font-size: 40px;
   font-family: font_awesome_5_freeregular, regular;

}

.modal a{
   transition: all 0.4s ease;
}

.modal a:hover{
   background: linear-gradient(to right, #53289F 10%, #602A69 40%, #772E0B 105%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    color: #FA7E6B;
}

#musicians{
	margin-top: 200px;  
}

audio{
   height: 30px;
   width: 90%;
   margin: 0 auto;
}

.bands_info{
   padding-top: 30px;
}

.info{
   display: flex;
   flex-direction: row;
   margin-top: 30px;
}

.info img{
   border-radius: 7px;
   min-width: 300px;
   max-width: 350px;
   max-height: 440px;
}

.info div{
   display: flex;
   flex-direction: column;
   padding-left: 30px;
}

.info p{
   font-size: 20px;
}

.info li{
   list-style-type: none; 
   padding: 15px 0;

}

h4{
   text-align: left;
   padding-left: 25px; 
   padding-bottom: 5px;
   font-size: 17px;
}

.bands_social{
   justify-content: flex-end; 
   width: 100%;
   
}

.bands_social_item{
   margin-top: 15px;
   list-style-type: none;
   cursor: pointer;
   font-size: 23px;
   transition: all 0.4s ease;
   margin-right: 25px;
}



@media (max-width: 890px){
   .modal{
      width: 500px;
      height: 90%;
      overflow-y: auto;
   }

   .info{
      flex-direction: column;
      text-align: center;
   }

   .info img{
      margin: 0 auto;
      margin-top: -15px;
      max-height: 380px;
      max-width: 300px;
   }

   .info li{
      padding: 5px 0;
   }
   
   .bands_info{
      padding-top: 10px;
   }

}

@media (min-width: 351px) and (max-width: 750px) {
   .modal{
      width: 100%;
       overflow-y: auto;
   }

   .modal div{
      padding: 0;
   }

   .info img{
      margin: 0 auto;
      margin-top: -15px;
      max-height: 320px;
      max-width: 270px;
   }

   .modal h3{
      font-size: 35px;
      margin-top: 20px;
   }
   
   .modal__cross{
      top: 60px;
      right: 30px;
   }

   .info p{
      margin-top: 20px;
   }

    .info li{
      padding: 10px 0;
   }
}


@media (max-height: 600px){
   .modal{
      width: 100%; 
       overflow-y: auto;
   }
   
   .modal h3{
      font-size: 35px;
      margin-top: 50px;
   }
   
   .modal__cross{
      top: 70px;
      right: 30px;
   }

}