.overlay {
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}

.modal {
   opacity: 0;
   visibility: hidden;
   width: 100%;
   max-width: 500px;  
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; 
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}

.modal.active, .overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}

.js-open-modal {
   text-decoration: none;
   margin-left: 200px;
   color: #fff;
   font-size: 30px;
   font-weight: 800;
   font-family: ;
   cursor: pointer;
   transition: all 0.2s;
}

.js-open-modal:hover{
	color: #FA7E6B;
}

.modal h3{
	color: black;
}

#musicians{
	margin-top: 100px;
}