*{
	margin: 0;
	padding: 0;
}

body{
	color: #fff;
	cursor: default;
	width: 100%;
	background-color: #000;  
	background-image: url(../img/Image1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: regular;
}

a{
	text-decoration: none;
	color: #fff;
}
